{% extends "base.html.twig" %}

{% block body %}
    {% for message in app.flashes('info') %}
        {{ message }}
    {% endfor %}

    <li><a href="{{ path("app_playercontroller_edit", {"id": player.id}) }}">Editer</a></li>
    <h2>Page du joueur {{ player }}</h2>
    {{ player }}
    <h2>Item</h2>
    <ul>
        {% for un_item in playerItem %}
            <li> {{ un_item}} </li>
        {% endfor %}
    </ul>

{% endblock %}